body{
    padding:100px;
}
.submit-area{
margin-top: 50px;
padding:40px;
border-radius: 10px;
box-shadow: 5px 5px 10px gray;
margin-right:100px;
}
#transaction-area{
    display:none;
}
.deposit{
    background-color: blueviolet;}
    
.withdraw{
background-color: coral;}
    
.balance{
    background-color: crimson;
    
}
.status{
    margin:0 10px;
    color:white;
    padding: 20px;
    border-radius: 10px;

}